/* variabili */
:root{
    --white: rgb(255, 255, 255);
    --green: rgb(144, 187, 115);
    --red: rgb(199, 1, 0);
    --black: rgb(29, 29, 29);
}
.text-white{
    color: var(--white);
}
.text-green{
    color: var(--green);
}
.text-red{
    color: var(--red);
}
.text-black{
    color: var(--black);
}

.bg-white{
    background-color: var(--white);
}
.bg-green{
    background-color: var(--green);
}
.bg-red{
    background-color: var(--red);
}
.bg-black{
    background-color: var(--black);
}

/* colore body */
body{
    background-color: var(--white);
}
/* stile caratteri */
h1, h2, h3{
    font-family: barrio, sans-serif;
    color: var(--black);
}

a, p, button{
    font-family: pangolin, sans-serif;
}

/* PAGINA HOME */

/* stile navbar */

.logoNavbar{
    height: 40px;
}

.logo{
    height: 50px;
    border: 0;
    transition: 0.5s;
}

.nav-link:hover{
    text-decoration: underline;
}

/* stile header */

.header{
    background-image: url(/headImg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.marrone{
    color: #955436;
}
.grigio{
    color: #AAE0FC;
}
.fucsia{
    color: #DA3996;
}
.arancione{
    color: #F7941F;
}
.rosso{
    color: #ED1B26;
}
.giallo{
    color: #FEF102;
}
.verde{
    color: #1FB25A;
}
.blu{
    color: #0171BB;
}
.nero{
    color: black;
}

/* stile footer */

.f-custom{
    min-height: 170px;
}

.card-footer1{
    border: 1px solid var(--black);
    background-color: var(--red);
    border-radius: 3% !important;
    transition: 0.5s;
}

.card-footer1:hover{
    scale: 1.1;
}

.ul{
    list-style-type: none;
}

.card-footer2{
    border: 1px solid var(--black);
    background-color: rgb(245, 232, 1);
    border-radius: 3% !important;
    transition: 0.5s;
}

.card-footer2:hover{
    scale: 1.1;
}

.ul{
    list-style-type: none;
}

/* PAGINA CHI SIAMO */

/* sezione staff */

.col-custom{
    height: 500px;
}
.swiper{
    width: 75%;
}

.card{
border: 3px solid var(--black);
}

.img{
    border: 2px solid var(--black);
}

.img-custom{
width: 90%;
}